.card-back{
    background-size: cover;
    border-radius: 5%;
    height: 100%; width: 100%;
}

.card-front{
    background: #fdfdfd;
    border: 1px solid #bebebe;
    border-radius: 5%;
    font-family: "Card Characters";
    height: 100%; width: 100%;
    font-size: 1.05vmax;
}
.card-front:hover{
    cursor: default;
}
.card-front > div{
    position: absolute;
}
.bottom-right-value, .top-left-value{
    /* background: hotpink; */
    position: relative;
    padding-top: 10px;
    width: 20%;
    text-align: center;
}
.bottom-right-value{
    bottom: 3%; right: 0;
    transform: scale(-1, -1);
}
.top-left-value{
    top: 3%; left: 0;
}
.val-suit{
    position: absolute;
    width: 100%;
    left: 0; top: 75%;
}

.card-face{
    left: 18%; top: 10%;
    height: 80%;
    width: 64%;
    font-family:  Courier;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,1fr);
}
.card-face div{
    font-size: 2.22vmax;
    line-height: 75%;
    text-align: center;
}

.CA > div{
    grid-column: 1/4;
    grid-row: 3/11;
    font-size: 4.2vmax;
    display: grid;
    align-items: center;
    justify-content: center;
} 

.C2 > div:nth-child(1){
    grid-column: 2/3;
    grid-row: 1/2;
}
.C2 > div:nth-child(2){
    grid-column: 2/3;
    grid-row: 12/13;
    transform: rotate(180deg);
}


.C3 > div:nth-child(2),
.C5 > div:nth-child(3),
.C6 > div:nth-child(3),
.C6 > div:nth-child(4),
.C7 > div:nth-child(3),
.C7 > div:nth-child(4),
.C7 > div:nth-child(5),
.C8 > div:nth-child(3),
.C8 > div:nth-child(4),
.C8 > div:nth-child(5),
.C8 > div:nth-child(6)
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.C3 > div:nth-child(1) {
    grid-column: 2/3;
    grid-row: 1/5;
}
.C3 > div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 5/9;
}
.C3 > div:nth-child(3){
    grid-column: 2/3;
    grid-row: 9/13;
    transform: rotate(180deg);
}

.C4 > div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

.C4 > div:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/2;
}
.C4 > div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 12/13;
    transform: rotate(180deg);
}

.C4 > div:nth-child(4){
    grid-column: 3/4;
    grid-row: 12/13;
    transform: rotate(180deg);
}

.C5,.C7,.C8,.C9,.C10{
    grid-template-columns: repeat(7,1fr);
}


.C5 > div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/5;
}
.C5 > div:nth-child(2){
    grid-column: 5/8;
    grid-row: 1/5;
}
.C5 > div:nth-child(3){
    grid-column: 3/6;
    grid-row: 5/9;
}
.C5 > div:nth-child(4) {
    grid-column: 1/4;
    grid-row: 9/13;
    transform: rotate(180deg);
}
.C5 > div:nth-child(5){
    grid-column: 5/8;
    grid-row: 9/13;
    transform: rotate(180deg);
}


.C6 > div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/5;
}
.C6 > div:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/5;
}
.C6 > div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 5/9;
}
.C6 > div:nth-child(4){
    grid-column: 3/4;
    grid-row: 5/9;
}
.C6 > div:nth-child(5){
    grid-column: 1/2;
    grid-row: 9/13;
    transform: rotate(180deg); 
}
.C6 > div:nth-child(6){
    grid-column: 3/4;
    grid-row: 9/13;
    transform: rotate(180deg); 
}



.C7 > div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/5;
}
.C7 > div:nth-child(2){
    grid-column: 5/8;
    grid-row: 1/5;
}
.C7 > div:nth-child(3) {
    grid-column: 3/6;
    grid-row: 3/7;
}
.C7 > div:nth-child(4){
    grid-column: 1/4;
    grid-row: 5/9;
}
.C7 > div:nth-child(5){
    grid-column: 5/8;
    grid-row: 5/9;
}
.C7 > div:nth-child(6){
    grid-column: 1/4;
    grid-row: 9/13;
    transform: rotate(180deg); 
}
.C7 > div:nth-child(7){
    grid-column: 5/8;
    grid-row: 9/13;
    transform: rotate(180deg); 
}

.C8 > div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/5;
}
.C8 > div:nth-child(2){
    grid-column: 5/8;
    grid-row: 1/5;
}
.C8 > div:nth-child(3) {
    grid-column: 3/6;
    grid-row: 3/7;
}
.C8 > div:nth-child(4){
    grid-column: 1/4;
    grid-row: 5/9;
}
.C8 > div:nth-child(5){
    grid-column: 5/8;
    grid-row: 5/9;
}
.C8 > div:nth-child(6){
    grid-column: 3/6;
    grid-row: 7/11;
    transform: rotate(180deg); 
}
.C8 > div:nth-child(7){
    grid-column: 1/4;
    grid-row: 9/13;
    transform: rotate(180deg); 
}
.C8 > div:nth-child(8){
    grid-column: 5/8;
    grid-row: 9/13;
    transform: rotate(180deg); 
}

.C9,.C10{
    grid-template-rows: repeat(16,1fr);
}
.C9 > div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/5;
}
.C9 > div:nth-child(2){
    grid-column: 5/8;
    grid-row: 1/5;
}
.C9 > div:nth-child(3) {
    grid-column: 1/4;
    grid-row: 5/9;
}
.C9 > div:nth-child(4){
    grid-column: 5/8;
    grid-row: 5/9;
}
.C9 > div:nth-child(5){
    grid-column: 3/6;
    grid-row: 7/11;
}
.C9 > div:nth-child(6){
    grid-column: 1/4;
    grid-row: 9/13;
    transform: rotate(180deg); 
}
.C9 > div:nth-child(7){
    grid-column: 5/8;
    grid-row: 9/13;
    transform: rotate(180deg); 
}
.C9 > div:nth-child(8){
    grid-column: 1/4;
    grid-row: 13/17;
    transform: rotate(180deg); 
}
.C9 > div:nth-child(9){
    grid-column: 5/8;
    grid-row: 13/17;
    transform: rotate(180deg); 
}

.C10 > div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/5;
}
.C10 > div:nth-child(2){
    grid-column: 5/8;
    grid-row: 1/5;
}
.C10 > div:nth-child(3) {
    grid-column: 3/6;
    grid-row: 3/7;
}
.C10 > div:nth-child(4){
    grid-column: 1/4;
    grid-row: 5/9;
}
.C10 > div:nth-child(5){
    grid-column: 5/8;
    grid-row: 5/9;
}
.C10 > div:nth-child(6){
    grid-column: 1/4;
    grid-row: 9/13;
    transform: rotate(180deg); 
}
.C10 > div:nth-child(7){
    grid-column: 5/8;
    grid-row: 9/13;
    transform: rotate(180deg); 
}
.C10 > div:nth-child(8){
    grid-column: 3/6;
    grid-row: 11/15;
    transform: rotate(180deg); 
}
.C10 > div:nth-child(9){
    grid-column: 1/4;
    grid-row: 13/17;
    transform: rotate(180deg); 
}
.C10 > div:nth-child(10){
    grid-column: 5/8;
    grid-row: 13/17;
    transform: rotate(180deg); 
}

.JC,.JD,.JH,.JS,
.QC,.QD,.QH,.QS,
.KC,.KD,.KH,.KS{
    background-size: 99.9% 100%;
}

.JC{
    background-image: url('./../../imgs/jqkFaces/JC.png');
}
.JD{
    background-image: url('./../../imgs/jqkFaces/JD.png');
}
.JH{
    background-image: url('./../../imgs/jqkFaces/JH.png');
}
.JS{
    background-image: url('./../../imgs/jqkFaces/JS.png');
}
.QC{
    background-image: url('./../../imgs/jqkFaces/QC.png');
}
.QD{
    background-image: url('./../../imgs/jqkFaces/QD.png');
}
.QH{
    background-image: url('./../../imgs/jqkFaces/QH.png');
}
.QS{
    background-image: url('./../../imgs/jqkFaces/QS.png');
}
.KC{
    background-image: url('./../../imgs/jqkFaces/KC.png');
}
.KD{
    background-image: url('./../../imgs/jqkFaces/KD.png');
}
.KH{
    background-image: url('./../../imgs/jqkFaces/KH.png');
}
.KS{
    background-image: url('./../../imgs/jqkFaces/KS.png');
}
