/* RESETS */
body{
  overflow: hidden;
}
html,
body,
* {
  padding: 0; margin: 0;
}
* {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

/* Font-family */
.ff-arial{
  font-family: Arial, Helvetica, sans-serif;
}
/* Font-color */
.c-fff{
  color: #fff;
}
.c-0000ff{
  color: #0000ff;
}
.c-0078d7{
  color: #0078d7;
}
/* Font-weight */
.fw-normal{
  font-weight: normal;
}
.fw-bold{
  font-weight: bold;
}
/* Font-size */
.fs-9pt{
  font-size: 9pt;
}
.fs-12pt{
  font-size: 12pt;
}
.fs-15pt{
  font-size: 15pt;
}
.fs-21pt{
  font-size: 18pt;
}
.fs-015em{
  font-size: 1.5em;
}
.fs-3em{
  font-size: 3em;
}
.fs-014vmax{
  font-size: 1.4vmax;
}
.fs-054vmax{
  font-size: 5.4vmax;
}
/* Text alignment */
.txt-center{
  text-align: center;
}
.txt-right{
  text-align: right;
}
.txt-shdw{
  text-shadow:3px 3px 7px #313131;
}

/* Background size */
.bgs-cover{
  background-size: cover;
}
/* Background colors */
.bg-fff{
  background: #fff;
}
.bg-0078d7{
  background: #0078d7;
}
.bg-8686863d{
  background: #8686863d;
}
.bg-ececec{
  background: #ececec;
}


/* Heights */
.h-50pc{
  height: 50%;
}
.h-98pc{
  height: 98%;
}
.h-7145pc{
  height: 71.45%;
}
.h-100pc{
  height: 100%;
}
.h-1px{
  vertical-align: bottom;
  margin-top: -50px;
}
.h-65px{
  height: 65px;
}
.h-90px{
  height: 90px;
}
.h-41vmax{
  height: 41vmax;
}

/* Widths */
.w-fcnt{
  width: fit-content;
}
.w-48pc{
  width: 48%;
}
.w-75pc{
  width: 75%;
  background: red;
}
.w-81pc{
  width: 81%;
}
.w-98pc{
  width: 98%;
}
.w-100pc{
  width: 100%;
}
.w-75vmax{
  width: 75vmax;
}
.w-150px{
  width: 150px;
}
.w-180px{
  width: 180px;
}
.w-210px{
  width: 210px;
}
.w-300px{
  width: 300px;
}
.w-400px{
  width: 400px;
}
.w-500px{
  width: 500px;
}
.mw-45vmax{
  min-width: 45vmax;
}
.mw-90px{
  min-width: 90px;
}
.mw-210px{
  min-width: 210px;
}

/* Display */
.dis-iblock{
  display: inline-block;
}
/* Flex */
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.al-center{
  align-items: center;
}
.jus-center{
  justify-content: center;
}
.jus-end{
  justify-content: end;
}
.jus-btwn{
  justify-content: space-between;
}
.jus-arnd{
  justify-content: space-around;
}

/* Margin */
.m-auto{
  margin: auto;
}
.m-2px{
  margin: 2px;
}
.m-3px{
  margin: 3px;
}
.m-5px{
  margin: 5px;
}
.m-12px{
  margin: 12px;
}
.m-auto-10px{
  margin:auto 10px;
}
.m-5px-auto{
  margin:5px auto;
}
.m-12px-auto{
  margin:12px auto;
}
/* Margin-left */
.ml--10px{
  margin-left: -10px;
}
.mt--7px{
  margin-top: -7px;
}
.ml-5px{
  margin-left: 5px;
}
.ml-20px{
  margin-left: 20px;
}
.ml-30px{
  margin-left: 30px;
}
/* Margin-right */
.mr-3px{
  margin-right: 3px;
}
.mr-6px{
  margin-right: 6px;
}
.mr-10px{
  margin-right: 10px;
}
.mr-210px{
  margin-right: 210px;
}
/* Margin-top */
.mt--10px{
  margin-top: -10px;
}
.mt-6px{
  margin-top: 6px;
}
.mt-10px{
  margin-top: 10px;
}
.mt-108px{
  margin-top: 108px;
}
/* Margin-bottom */
.mb--3px{
  margin-bottom: -3px;
}
.mb-2px{
  margin-bottom: 2px;
}
.mb-10px{
  margin-bottom: 10px;
}
.mb-15px{
  margin-bottom: 15px;
}

/* Padding */
.p-2px{
  padding: 2px;
}
.p-3px{
  padding: 3px;
}
.p-5px{
  padding: 5px;
}
.p-10px{
  padding: 10px;
}
.p-0-5px{
  padding: 0 5px;
}
.p-1px-3px{
  padding:1px 3px;
}
.p-1px-6px{
  padding:1px 6px;
}
.p-2px-5px{
  padding:2px 5px;
}
.p-3px-0{
  padding: 3px 0;
}
.p-5px-15px{
  padding:5px 15px;
}
/* Padding-left */
.pl-3px{
  padding-left: 3px;
}
.pl-6px{
  padding-left: 6px;
}
.pl-12px{
  padding-left: 12px;
}
.pl-25px{
  padding-left: 27px;
}
.pl-20px{
  padding-left: 20px;
}
/* Padding-right */
.pr-10px{
  padding-right: 15px;
}
.pr-5px{
  padding-right: 5px;
}
/* Padding-bottom */
.pb-10px{
  padding-bottom: 10px; 
}
/* Padding-top */
.pt-20px{
  padding-top: 20px;
} 

/* Borders */
.bd-trans{
  border: 1px solid transparent;
}
.bd-aaaaaa{
  border: 1px solid #aaaaaa;
}
.bd-0078d7{
  border: 1px solid #0078d7;
}
.bdl-aaaaaa{
  border-left: 1px solid #aaaaaa;
}
.bdt-aaaaaa{
  border-top: 1px solid #aaaaaa;
}
.bd-0000001c{
  border: 1px solid #0000001c;
}
.bd3-0078d7{
  border: 3px solid #0078d7;
}
.bd3-trans{
  border: 3px solid transparent;
}

/* Border-radius */
.bdr-5pc{
  border-radius: 5%;
}
.bdr-10pc{
  border-radius: 10%;
}

/* border collapse */
.bcol-collapse{
  border-collapse: collapse;
}

/* Outline */
.ol-0078d7 {
  outline: 1px solid #0078d7;
}

/* Box-shadow */
.bxsblack{
  box-shadow: 5px 5px 5px 0px #000;
}
/* Hover-Cursor */
.hov-cdef:hover{
  cursor: default;
}
/* Hover-background */
.hov-bgff0000:hover{
  background: #ff0000;
}
.hov-bga0d3e4:hover{
  background: #a0d3e4;
}
.hov-bga0d3e485:hover{
  background: #a0d3e485;
}
/* Hover border */
.hov-bd0076d75d:hover{
  border: 1px solid #0076d75d;
}
.hov-bdccc:hover{
  border: 1px solid #ccc;
}
.hov-bdtrans:hover{
  border: 1px solid transparent;
}
.hov-bd0078d7:hover{
  border: 1px solid #0078d7;
}
.hov-bxswhite:hover{
  box-shadow: 3px -3px 3px 0px #f0f0f0,
  3px 3px 3px 0px #f0f0f0, 
  -3px 3px 3px 0px #f0f0f0,
  -3px -3px 3px 0px #f0f0f0;
}

/* Hove-color */
.hov-cfff:hover{
  color: #fff;
}

/* POSITION STYLES */
.poa{
  position: absolute;
}
.por{
  position: relative;
}

/* Bottom */
.b-0{
  bottom: 0;
}
.b-24pc{
  bottom: 24%;
}
.b-30pc{
  bottom: 30%;
}
/* Right */
.r-0{
  right: 0;
}
.r-1pc{
  right: 1%;
}
.r-5pc{
  right: 5%;
}
/* Top */
.t-0{
  top: 0;
}
.t-1pc{
  top: 1%;
}
.t-4pc{
  top: 4%;
}
/* Left */
.l-0{
  left: 0;
}
.l-1pc{
  left: 1%;
}
.l-5pc{
  left: 5%;
}
.l-095pc{
  left: 9.5%;
}
.l-21pc{
  left: 21%;
}
.l-26pc{
  left: 26%;
}
.l-50pc{
  left: 50%;
}
 
/* z-index */
.z-1{
  z-index: 1;
}
.z-2{
  z-index: 2;
}

/* Rotations */
.rot-180{
  transform: rotate(180deg);
}